.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  ion-badge {
    text-transform: capitalize;
  }

  h1 {
    position: relative;
    font-size: 3rem;
    margin: 3rem 0;
    &.small {
      font-size: 1.25rem;
      margin: 0;
    }
    strong span {
      display: block;
      background-color: var(--ion-color-dark);
      position: absolute;
      top: 0;
      line-height: 1;
      padding: 0 0 4px 0;
      color: rgba(#808289, 0.2);
      text-align: center;
      text-transform: uppercase;

      &:first-child {
        z-index: 6;
        transform: translateY(-15px);
        color: rgba(#808289, 0.5);
      }
      &:nth-child(2){
        z-index: 2;
        transform: translateY(-25px);
      }
      &:nth-child(3){
        position: relative;
        z-index: 10;
        opacity: 1;
        color: #fff;
      }
      &:nth-child(4){
        z-index: 6;
        transform: translateY(15px);
        color: rgba(#808289, 0.5);
      }

      &:last-child {
        z-index: 5;
        transform: translateY(25px);
      }
    }
  }
}
