<app-topbar></app-topbar>
<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="movieForm">
          <ion-item lines="none">
            <ion-label position="stacked">Movie name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="stacked">Genre</ion-label>
            <ion-input type="text" formControlName="genre"></ion-input>
          </ion-item>
          <ion-button [disabled]="movieForm.invalid" expand="block" (click)="addMovie()">
            Add movie
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
